@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Bai Jamjuree", sans-serif;
    
}


body {
    background-color: #161616; 
    display: flex; 
    flex-direction: column;
    align-items: center;
}


.cabecalho {
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    flex-flow: row; 
    align-items: center;
    justify-content: space-around;
    padding: 16px;
    
}

.menu{
    display: flex;
    flex-wrap: wrap; 
    gap: 16px;
    font-size: 18px; 
}

.menu > a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
}


.conteudo-principal {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;/*apagar*/
    color: #ffffff;
    font-weight: bolder;
    padding: 100px 20px;/*200px*/
    border-top: 0.4px solid white;
    background-image: url('../imagens/logo2-maior.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto; 
    
}

.conteudo-principal-titulo{
    font-size: 36px;/*42px*/
    max-width: 100%;/*width:419px*/
    text-align: center;
    
}
    

.conteudo-principal-paragrafo {
   max-width: 90%;/*width: 864px*/
    line-height: 28px;/*32px*/
    /*margin-top: 20px;*/
    font-size: 18px;/*22px*/
    text-align: justify;
    
}

.conteudo-secundario {
    background-color: #2D82B7;
    width: 90%;/*width: 1216px*/
    max-width: 1216px;
    height: auto;/*apagar*/
    padding: 30px;/*apagar*/
    /*height: 517px;*/
    text-align: center;/*apagar*/
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 20px;
    
}

.conteudo-secundario-titulo{
    color: #ffffff;
    font-weight: 600;
    font-size: 48px;
    
}
.conteudo-secundario-paragrafo {
    padding-top: 20px;
    font-size: 18px;
    width: 585px;
    line-height: 32px;
    text-align: justify;
    font-weight: 400;
    
}
.card-pai {
    display: flex;
    flex-wrap: wrap;/*apagar*/
    gap: 20px;
    justify-content: center;/*apagar*/
    margin-top: 20px;/*apagar*/
    position: relative;
    top:100px;
    
}
.card {
    width: 90%;/*width: 365px;*/
    max-width: 365px;/*apagar*/
    background-color: #ffffff;
    height: auto;/*height: 245px*/
    padding: 20px;/*apagar*/
    border-radius: 14px;
    
}

.titulo-card {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    margin: 20px;
    text-align: center;
}

.paragrafo-card{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    text-align: justify;
    line-height: 1.5em;
    margin: 20px;
}

.skill {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 50px;
}

.skill-titulo{
    font-size: 42px;
    color:#ffffff;
    font-family: "Ubuntu Mono", monospace;
    font-weight:700;
}

.skill-img {
    display: flex;
    flex-wrap: wrap; /*apagar*/
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 100px;
    
}

.projeto{
    width: 90%;/*width: 1200px*/
    max-width: 1200px;/*apagar*/
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: auto;  
    text-align: center;/*apagar*/
}
.titulo-card-projeto {
    font-size: 42px;
    color:#ffffff;
    font-family: "Ubuntu Mono", monospace;
    font-weight:700;
    
}

.subtitulo-card-projeto{
    text-align: center;
    margin: 20px;
    color: #ffffff;
    font-weight: 700;
    
}
.card-projeto-pai{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;/*gap: 30px;*/
    /*padding-top: 100px;
    margin-bottom: 100px;*/
    padding: 50px 0;/*apagar*/
    
}

.paragrafo-card-projeto{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    text-align: justify;
    line-height: 1.5em;
    margin: 20px;
    color: #ffffff;
    font-weight: 700;
}
.card-projeto{ 
    max-width: 365px;
    width:90%;
    height: 254px;
    background-color: #2D82B7;  
    border-radius: 14px;
    background-image: url('../imagens/Robot.png'); 
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right bottom;
}
.rodape {
   width: 100%;
   padding: 40px 20px;
   height: 392px; 
   background-color: rgba(45, 130, 183, 0.2);
   background-image: url('../imagens/logo2-maior.png');
   background-position: left;
   background-repeat: no-repeat;
   background-size: auto;
   display: flex;
   flex-flow: column wrap;
   align-items:center;
   justify-content: center;
   gap: 30px;
   
}

.rodape > a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 22px;
}